#about{
    .col-img {
        background-image: url(/public/img/img1.jpg);
        background-position: center;
        background-size: cover;
        min-height: 500px;
        border-radius: 20px;
    }
}